.SettingBar {
    text-align: left;
    background-color: rgb(247, 163, 130);
    padding: 5px 0;
}
.SettingBar p{
    margin:0;
    display: inline-block;
    color: white;
    height: 25px;
}
.SettingBar button {
    float:right;
    background-color: white;
    border: solid #b6b1b1 0.5px;
    height:25px;
}
.QuoteHead {
    text-align: left;
}
.QuoteHead p {    
    display:inline-block;
    margin:2px;
  }
.QuoteHead p:first-child {
    display:block;
    font-size:15px;
    margin:5px 15px;
}
.QuoteHead p:nth-child(2) {
    font-size:30px;
    margin: 5px 25px 5px 15px;
}
.QuoteBody p {
    display: inline-block;
    width: 25%;
    border-width: 0.5px 0;
    border-style: solid;
    border-color: #d6d6d6;
    text-align: center;
    vertical-align: middle;  
    margin:0px;  
}
.QuoteBody p:nth-child(4) ~ p {
    border-top:none;
}
.QuoteBody p span {
    display: grid;
    height:30px;
}
.QuoteBody p span:first-child {
   color:rgb(125, 120, 120);
}

@media screen and (max-width: 810px) {
    .QuoteBody p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 660px) {
    .QuoteBody p {
        width: 50%;
    }
    .QuoteBody p:nth-child(2) ~ p {
        border-top:none;
    }
}